html,
body {
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 99;
}

li {
    display: inline;
    padding: 0 20px;
}

.horizontalWrap {
    float: left;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

.horizontal {
    position: relative;
    float: left;
    height: 100%;
}

.onepage {
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

#horizontal-slider-one {
    background-color: #856766;
}

#horizontal-slider-two {
    background-color: #786675;
}

#horizontal-slider-three {
    background-color: #097576;
}

#home {
    background-image: url("/css/images/gs-home-bg-img-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
}


#about {
    background-color: gray;
}

#contact {
    background-color: lightgray;
}

#buttonRight {
    position: absolute;
    color: white;
    font-size: 30px;
    padding-top: 25%;
    right: 12px;
    cursor: pointer;
    z-index: 99;
    float: right;
}

#buttonLeft {
    position: absolute;
    color: white;
    font-size: 30px;
    padding-top: 25%;
    left: 12px;
    cursor: pointer;
    z-index: 99;
    float: left;
}