html,
body {
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

nav {
    position: fixed;
    width: 100%;
    top: 2%;
    /*right: 10%;*/
    margin: 0;
    padding: 0;
    z-index: 99;
}

.layer {
    padding-top: 10%;
    padding-left: 15%;
    width: 85%;
    height: 65%;
}

.box {
    margin-bottom: 5px;
    margin-left: 5%;
    background: white;
    background: hsla rgba(255, 255, 255, 0.9);
    width: 90%;
    height: 100%;
}

.brand {
    float: left;
    color: #584c3e;
    font-family: Cursive, Helvetica, Arial, sans-serif;
    font-size: 50px;
    font-weight: 900;
}

li {
    display: inline;
    padding: 0 20px;
}

a {
    color: #584c3e;
    text-decoration: none;
    float: right;
    margin-right: 5%;
    font-size: 20px;
}

.fa {
    color: #584c3e;
}

.horizontalWrap {
    float: left;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

.horizontal {
    position: relative;
    float: left;
    height: 100%;
}

.onepage {
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

#horizontal-slider-one {
    background-color: #856766;
}

#horizontal-slider-two {
    background-color: #786675;
}

#horizontal-slider-three {
    background-color: #097576;
}

#home {
    background-image: url("/css/images/gs-home-bg-img-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
}

#about {
    background-color: gray;
}

#contact {
    background-color: lightgray;
}

#buttonRight {
    position: absolute;
    color: white;
    font-size: 30px;
    padding-top: 25%;
    right: 12px;
    cursor: pointer;
    z-index: 99;
    float: right;
}

#buttonLeft {
    position: absolute;
    color: white;
    font-size: 30px;
    padding-top: 25%;
    left: 12px;
    cursor: pointer;
    z-index: 99;
    float: left;
}